<!DOCTYPE html>
<html>
  <head>
    <title>Hemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link title="Hemo - Stylesheet" rel="stylesheet" href="/stylesheets/site.css" type="text/css">

    <script src="/javascripts/htmx.js"></script>
  </head>

  <body class="page">
    <%= yield %>
  </body>
</html>
