<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title>Tasks | Hemo</title>

    <meta charset="utf-8">
    <meta name="description" content="A Hanami demonstration application.">
    <meta name="author" content="Alchemists">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="htmx-config" content='{"selfRequestsOnly":true}'>

    <link title="Hemo: Favorite Icon"
          rel="icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/favicon.ico"
          sizes="32x32">
    <%= favicon_tag app_assets["icon.svg"], title: "Hemo: Icon", rel: :icon, type: "image/svg+xml" %>
    <link title="Hemo: Apple Icon"
          rel="apple-touch-icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/apple.png"
          type="image/png">
    <%= tag.link title: "Hemo: Manifest", rel: :manifest, href: app_assets["manifest.webmanifest"] %>

    <%= stylesheet_tag "app", title: "Hemo: Stylesheet" %>

    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/htmx-remove@2.0.0/build/htmx-remove.js"
            integrity="sha384-v6VOSW2F42qo+95FGFDZCY72+0md5SolbibTa8Kgn8DkCrevZNkgTsWXdEMXyeRX"
            crossorigin="anonymous">
    </script>
  </head>

  <body class="tasks-page">
    <%= yield %>
  </body>
</html>
